@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Dancing Script", cursive;
   list-style: square;
}
body{
    background-color: lightblue;
    display: grid;
    place-items: center;
    height: 100vh;
}

main.container{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px black;
    text-align: center;
    gap: 10px;
    display: grid;
    place-items: center;
    max-width: 40%;
}

h1{
    text-align: center;
    text-transform: capitalize;
    font-size: 26px;
}

ul{
    width: 100%;
}
ul li{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
 label, input, button{
    cursor:pointer;
 }

 Button{
    width: 100%;
    border: none;
    text-transform: capitalize;
    padding: 5px;
    border-radius: 5px;
    background-color: #eee;
    font-size: 16px;
}

button:hover{
    background-color: #aaa;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out
}

input[type="radio"]{
    accent-color: rgb(255, 0, 43);
}

.correta{
    color:green;
    font-weight: bold;
}

.incorreta{
    color:red;
    font-style: italic;
}
